.Container {
    margin: 0 auto;
    padding: 150px 50px;
    text-align: center;
}

.Hero .Iframe {
    display: grid;
    margin: 100px 0;
    justify-items: center;
}

iframe {
    z-index: 1;
}

.Hero .Container svg {
    position: absolute;
    margin: 40px 0;
    bottom: 0;
    left: 0;
}

.Hero .BlogPost {
    background: #f0f3f5;
    min-height: 300px;
    padding: 30px;
    /* margin: -280px 0; */
    max-width: 700px;
    color: black;
    font-size: 20px;
    line-height: 140%;
    margin: -300px auto 0px;
}

.Hero .BlogPost h2 {
    color: black;
    font-size: 32px;
    line-height: 120%;
    padding: 20px 0px 0px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Hero .BlogPost h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(142, 142, 147);
    font-weight: 500;
    padding: 20px 0px 0px;
}

.Hero .BlogPost p {
    color: rgb(74, 74, 74);
    text-align: left;
    display: block;
    font-size: 20px;
    line-height: 140%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Hero .BlogPost:first-child p {
    margin: 50px 0;
}

@media (min-width: 1500px) {
    .Hero .Container svg {
        position: absolute;
        margin: 40px 0;
        bottom: 0;
        left: 0;
    }
    iframe {
        z-index: 1;
        width: 800px;
        height: 480px;
    }
  }
  
  @media (max-width: 1060px) {
    .Hero .Container svg {
        position: absolute;
        margin: 40px 0;
        bottom: 0;
        left: 0;
    }
    iframe {
        z-index: 1;
        width: 800px;
        height: 480px;
    }
  }

@media (max-width: 720px) {
    iframe {
        z-index: 1;
        width: 400px;
        height: 200px;
    }
    .Hero .Container svg {
        position: absolute;
        margin: 300px 0;
        bottom: 0;
        left: 0;
    }
}

.Hero .BlogPost a {
    font-weight: 600;
    background: transparent;
    text-transform: none;
    color: rgb(88, 86, 214);
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.Hero .BlogPost ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.Hero .BlogPost li {
    display: list-item;
    text-align: -webkit-match-parent;
}